@(jobs: List[database.Job], jobTypes: List[database.Type], regions : List[database.Region])(implicit environment: play.api.Environment)

@main("HolyJobs") {
    <div class="home-page-top">
        <span class="helper"></span>
        <div class="home-title-panel">
            Looking for a job for your holidays?
            <br/>
            <img class="home-title" src="@routes.Assets.at("images/title.png")" />
            <br/>
            <span class="home-slogan">Stop praying for money, take care of your mummy, start working buddy!</span>
        </div>

        <div class="home-bottom">
            <div class="home-search">
                <span class="fa fa-map-marker fa-2x search-field-icon"></span>
                <select class="search-field">
                    <option value="where">Where?</option>
                    @for(region <- regions){
                      <option value="@region.regionId">@region.regionName</option>
                    }
                </select>

                <span class="fa fa-calendar fa-2x search-field-icon"></span>
                <select class="search-field">
                    <option value="when">When?</option>
                </select>

                <span class="fa fa-briefcase fa-2x search-field-icon"></span>
                <select class="search-field">
                    <option value="what">What?</option>
                    @for(jobType <- jobTypes){
                      <option value="@jobType.typeId">@jobType.typeName</option>
                    }
                </select>

                <a class="btn btn-holyjoby btn-home" onclick="home.HomeScalaJs().searchForJobs()">Money, to me!</a>
            </div>

            <div class="home-proposition">
                <span class="job-proposition-label">You already have money to take care of your mummy and are here to <strong>propose a job</strong> for holidays?</span>
                <a class="btn btn-holyjoby btn-home" href='@routes.Application.add()'>Click here</a>
            </div>
        </div>
    </div>
    <div class="home-page-bottom" id="home-page-bottom">
      <ul>
      @for(job <- jobs){
        <li>@job.name</li>
        <li>@job.startDate</li>
        <li>@job.endDate</li>
      }
    </ul>
        <div class="job-row">
            <div class="job-element">
                <div class="job-element-content">
                    <img alt="job1" class="job-element-image" src="@routes.Assets.at("images/jobs/job1.jpg")" />
                    <div class="job-element-title">
                        <strong>Computer Trainee</strong>
                    </div>
                </div>
            </div>

            <div class="job-element">
                <div class="job-element-content">
                    <img alt="job2" class="job-element-image" src="@routes.Assets.at("images/jobs/job2.jpg")" />
                    <div class="job-element-title">
                        <strong>Redneck</strong>
                    </div>
                </div>
            </div>

            <div class="job-element">
                <div class="job-element-content">
                    <img alt="job3" class="job-element-image" src="@routes.Assets.at("images/jobs/job3.jpg")" />
                    <div class="job-element-title">
                        <strong>Toothpaste Seller</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="job-row">
            <div class="job-element">
                <div class="job-element-content">
                    <img alt="job1" class="job-element-image" src="@routes.Assets.at("images/jobs/job1.jpg")" />
                    <div class="job-element-title">
                        <strong>Computer Trainee</strong>
                    </div>
                </div>
            </div>

            <div class="job-element">
                <div class="job-element-content">
                    <img alt="job1" class="job-element-image" src="@routes.Assets.at("images/jobs/job1.jpg")" />
                    <div class="job-element-title">
                        <strong>Computer Trainee</strong>
                    </div>
                </div>
            </div>

            <div class="job-element">
                <div class="job-element-content">
                    <img alt="job1" class="job-element-image" src="@routes.Assets.at("images/jobs/job1.jpg")" />
                    <div class="job-element-title">
                        <strong>Computer Trainee</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
