@(jobForm:Form[database.Job], jobTypes: List[database.Type], regions : List[database.Region])(implicit messages :Messages)
@import helper._
@main("Add a job - HolyJobs") {
    <script>
        $(document).ready(function() {
            // Occurs when the user clicked on the "Money, to me!" button.
            $("#search-jobs-button").click(function() {
                var whereValue = $("#search-where").val();
                var whenValue = $("#search-when").val();
                var whatValue = $("#search-what").val();

                $("#search-jobs-button").tooltip('hide');

                if (!whereValue) {
                    $("#header-error-content").text($("#search-where").attr("title"));
                    $("#header-error").addClass("header-error-visible");
                } else if (!whenValue) {
                    $("#header-error-content").text($("#search-when").attr("title"));
                    $("#header-error").addClass("header-error-visible");
                } else if (!whatValue) {
                    $("#header-error-content").text($("#search-what").attr("title"));
                    $("#header-error").addClass("header-error-visible");
                } else {
                    $("#header-error").removeClass("header-error-visible");
                }
            })
        })
    </script>

    @* Calls the header search-bar. *@
    @header(regions, jobTypes)

    <div class="page-bottom">
        <div class="job-details-panel">
            <h1>Add a job</h1>

            @helper.form(action = routes.Application.createJob, 'enctype -> "multipart/form-data") {
                <div class="form-group">
                    @helper.input(jobForm("name")) { (id, name, value, args) =>
                        <label for="@id">Name</label>
                        <input class="form-control" id="@id" name="@name" placeholder="name" type="text" />
                    }
                </div>

                @textarea(jobForm("description") )
                @inputDate(jobForm("startDate"))
                @inputText(jobForm("endDate"))
                @select(jobForm("jobType"),
                options = jobTypes.map(
                t => t.typeId.get.toString -> t.typeName
                ).toSeq,
                 '_showConstraints -> false
                )
                @select(jobForm("region"),
                options = regions.map(
                r  => r.regionId.get.toString -> r.regionName
                ).toSeq,
                '_showConstraints -> false
                )
                @inputText(jobForm("hourlyPay"), '_showConstraints -> false)
                @inputText(jobForm("workingTime"))
                @inputText(jobForm("email"), '_showConstraints -> false)

                <input type="file" name="img"></input>

                <input type="submit" value="Submit">
            }
        </div>
    </div>
}
