@(jobTypes: List[database.Type], regions : List[database.Region], job: database.Job, relatedJobs : List[database.Job], regionName:String, typeName:String)

@main(job.name + " - HolyJobs") {
    @* Calls the header search-bar. *@
    @header(regions, jobTypes)

    <div class="page-bottom">
        <div class="job-details-panel">
            <div class="job-details-left">
                <a href="@routes.Assets.at("images/jobs/" + job.img.get)">
                    <img alt="@job.name" class="job-details-image" src="@routes.Assets.at("images/jobs/" + job.img.get)" />
                </a>

                <h3>Related Jobs</h3>

                @if(!relatedJobs.isEmpty) {

                    <div class="related-jobs">
                        @for(j <- relatedJobs) {
                            <div class="related-job">
                                <a href="@routes.Application.details(j.id.get)">
                                    <img alt="@j.name" class="related-job-picture" src="@routes.Assets.at("images/jobs/" + j.img.get)" />
                                    <div class="related-job-title">@j.name</div>
                                </a>
                            </div>
                        }
                    </div>
                } else {
                    There is no related job.
                }
            </div>
            <div class="job-details-right">
                <h1 class="job-details-name">@job.name</h1>

                <hr class="job-details-separation" />

                <p>
                    Active from <strong>@job.startDate</strong> to <strong>@job.endDate</strong>
                </p>

                <div class="job-details">
                    <p>
                        <strong>Type:</strong> @typeName<br/>
                        <strong>Region:</strong> @regionName
                    </p>
                    <p>
                        <strong>Description:</strong><br/>
                        <span>@job.description</span>
                    </p>

                    <strong>Salary:</strong> <span class="job-details-salary">CHF @job.hourlyPay</span> per hour<br/>
                    <strong>Working time:</strong> @job.workingTime hours per week
                </div>

                <hr class="job-details-separation" />

                <a class="btn btn-holyjoby btn-apply">Apply!</a>

                <a class="link-home" href="@routes.Application.index()">Home</a>
            </div>
        </div>
    </div>
}
