@(regions: List[database.Region], jobTypes: List[database.Type])

<div class="header">
    <table width="100%">
        <tr>
            <td>
                <a href="@routes.Application.index()"><img class="header-title" src="@routes.Assets.at("images/title.png")" /></a>
            </td>
            <td>
                <div class="header-bottom">
                    <form action="@routes.Application.index()" id="header-form" method="get">
                        <table class="header-fields-table">
                            <tr>
                                <td class="td-header-field">
                                    <div class="input-group header-input-group">
                                        <span class="input-group-addon header-search-field-icon">
                                            <span class="fa fa-map-marker fa-2x"></span>
                                        </span>
                                        <select class="header-search-field" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" id="search-where" name="region" title="Please select a location.">
                                            <option value="" name="region">Where?</option>
                                            <option value="-1" name="region">Everywhere!</option>
                                            @for(region <- regions){
                                              <option value="@region.regionId" name="region">@region.regionName</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td class="td-header-field">
                                    <div class="input-group header-input-group">
                                        <span class="input-group-addon header-search-field-icon">
                                            <span class="fa fa-calendar fa-2x"></span>
                                        </span>
                                        <input class="header-search-field search-when" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" id="search-when-header" name="startDate" placeholder="When?" title="Please select a start date." type="date" />
                                    </div>
                                </td>
                                <td class="td-header-field">
                                    <div class="input-group header-input-group">
                                        <span class="input-group-addon header-search-field-icon">
                                            <span class="fa fa-briefcase fa-2x"></span>
                                        </span>
                                        <select class="header-search-field" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" id="search-what" name="jobType" title="Please select a subject.">
                                            <option value="" name="jobType">What?</option>
                                            <option value="-1" name="jobType">Everything!</option>
                                            @for(jobType <- jobTypes){
                                              <option value="@jobType.typeId" name="jobType">@jobType.typeName</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td class="td-btn-header">
                                    <input class="btn btn-holyjoby btn-header" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" title="Search for jobs." type="submit" value="Money, to me!" />
                                </td>
                            </tr>
                        </table>
                    </form>

                    <table class="header-job-proposition">
                        <tr>
                            <td class="header-job-proposition-static-cell">
                                <span class="header-job-proposition-text">You already have money to take care of your mummy and are here to <strong>propose a job</strong> for holidays?</span>
                            </td>
                            <td class="header-job-proposition-static-cell">
                                <a class="btn btn-holyjoby btn-header-proposition" href='@routes.Application.add()'>Click here</a>
                            </td>
                            <td class="header-proposition-separator"></td>
                            <td>
                                <div class="panel panel-danger header-error" id="header-error">
                                    <div class="panel-heading" id="header-error-content">
                                        Please select a location.
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
