@(jobs: List[database.Job], jobTypes: List[database.Type], regions : List[database.Region])
@main("HolyJobs") {
    <input id="ajaxUrl" type="hidden" value="@routes.Application.filterJobAjax()" />

    <div class="home-page-top" id="home-page-top">
        <div class="no-result-panel" id="no-result-panel">
            <span class="smiley" id="no-result-panel-smiley">😢</span><br/>
            Sorry but there is no result for the given parameters.
            <button class="btn btn-holyjoby btn-no-result" onclick="hideNoResultPanel()">Got it</button>
        </div>

        <span class="helper" id="helper"></span>

        <div class="home-title-panel" id="home-title" >
            Looking for a job for your holidays?
            <br/>
            <img class="home-title" src="@routes.Assets.at("images/title.png")" />
            <br/>
            <span class="home-slogan">Stop praying for money, take care of your mummy, start working buddy!</span>
        </div>

        <img class="home-title-bottom" id="home-title-bottom" src="@routes.Assets.at("images/title.png")" />

        <div class="home-bottom" id="home-bottom">
            <div class="home-search">
                <span class="fa fa-map-marker fa-2x search-field-icon"></span>
                <select class="search-field" data-placement="top" data-toggle="tooltip" data-trigger="manual" id="search-where" name="region" title="Please select a location.">
                    <option value="" name="region">Where?</option>
                    <option value="-1" name="region">Everywhere!</option>
                    @for(region <- regions){
                      <option value="@region.regionId" name="region">@region.regionName</option>
                    }
                </select>

                <span class="fa fa-calendar fa-2x search-field-icon"></span>
                <input class="search-field search-when" data-placement="top" data-toggle="tooltip" data-trigger="manual" id="search-when" name="startDate" placeholder="When?" title="Please select dates." type="date" />

                <span class="fa fa-briefcase fa-2x search-field-icon"></span>
                <select class="search-field" data-placement="top" data-toggle="tooltip" data-trigger="manual" id="search-what" name="jobType" title="Please select a subject.">
                    <option value="" name="jobType">What?</option>
                    <option value="-1" name="jobType">Everything!</option>
                    @for(jobType <- jobTypes){
                      <option value="@jobType.typeId" name="jobType">@jobType.typeName</option>
                    }
                </select>

                <a class="btn btn-holyjoby btn-home-1" data-placement="bottom" data-toggle="tooltip" data-trigger="manual" id="search-jobs-button" title="Search for jobs.">Money, to me!</a>
            </div>
            <div class="home-proposition">
                <span class="job-proposition-label">You already have money to take care of your mummy and are here to <strong>propose a job</strong> for holidays?</span>
                <a class="btn btn-holyjoby btn-home-2" href='@routes.Application.add()'>Click here</a>
            </div>
        </div>
    </div>

    <div class="home-page-bottom" id="home-page-bottom">
        <h1 class="fill-fields-message">
            Please select values for the <a href="#home-page-top">parameters</a>, then press the
            <a class="btn btn-holyjoby btn-fill-fields-message">Money, to me!</a>
            button.
        </h1>
    </div>
}
