@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/pickmeup.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/jquery-ui.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/jquery-ui.structure.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/jquery-ui.theme.min.css")" rel="stylesheet">
        <link media="screen" href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet">

        <script src="@routes.Assets.at("javascript/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/jquery.pickmeup.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/app.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
